<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="vendor/codeigniter4/codeigniter4/system/Test/bootstrap.php"
         backupGlobals="false"
         colors="true"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false">
    <testsuites>
        <testsuite name="app">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>

    <coverage>
        <report>
            <html outputDirectory="build/logs/html"/>
            <clover outputFile="build/logs/clover.xml"/>
            <text outputFile="php://stdout" showUncoveredFiles="false"/>
        </report>
    </coverage>

    <logging>
        <junit outputFile="build/logs/logfile.xml"/>
        <testdoxHtml outputFile="build/logs/testdox.html"/>
        <testdoxText outputFile="build/logs/testdox.txt"/>
    </logging>

    <php>
        <server name="app.baseURL" value="http://example.com"/>

        <const name="HOMEPATH" value="./"/>

        <const name="CONFIGPATH" value="./vendor/codeigniter4/codeigniter4/app/Config/"/>

        <const name="PUBLICPATH" value="./vendor/codeigniter4/codeigniter4/public/"/>

        <env name="database.tests.hostname" value="localhost"/>
        <env name="database.tests.port" value="27017"/>
        <env name="database.tests.database" value="codeigniter_mongodb"/>
        <env name="database.tests.username" value=""/>
        <env name="database.tests.password" value=""/>
        <env name="database.tests.DBDebug" value="true"/>
        <env name="database.tests.DBDriver" value="MongoDB"/>
        <env name="database.tests.DBPrefix" value="tests_"/>
    </php>
</phpunit>